<div id="fullpage" class="fullpage-wrapper" style="height: 100%; position: relative; touch-action: none; transform: translate3d(0px, 0px, 0px);">
    <div class="fullpage">
        <div>
          <div class="section fp-section fp-table active fp-completely" data-fp-styles="null" data-anchor="about" style="height: 826px;"><div class="fp-tableCell" style="height: 826px;"><div class="innerin"><div class="about_section"><img class="dark_cube2 animate__animated  " src="./dark_cube2.png" alt="" style="--animate-duration:800ms; --animate-delay:400ms;">
            <img class="purple_romb2 animate__animated  " src="./purple_romb2.png" alt="" style="--animate-duration:600ms; --animate-delay:100ms;"><h1 class="about_me font-60 animate__animated  " style="--animate-duration:1200ms; --animate-delay:400ms;"><div class="font-60"><span class="">H</span><span class="">i</span><span class="space">,</span></div><div class="font-60"><span class="">I</span><span class="">'</span><span class="space">m</span><span class=""> </span>
                <span class="">S</span>
                <span class="">h</span>
                <span class="">i</span>
                <span class="">v</span>
                <span class="">a</span>
                <span class="">n</span>
                <span class="">i</span>

            </div>
            <!-- <div class="font-60">
                <span class="">W</span>
                <span class="">e</span>
                <span class="space">b</span>
                <span class=""> </span>
                <span class="">D</span>
                <span class="">e</span>
                <span class="">v</span>
                <span class="">e</span>
                <span class="">l</span>
                <span class="">o</span>
                <span class="">p</span>
                <span class="">e</span>
                <span class="">r</span>
            </div> -->
            <!-- <p>Front End Developer / JavaScript Fan</p> -->
            <p>Web Developer | Creating Immersive User Experiences with Angular</p>
        </h1>
            <div class="about_info animate__animated  " style="--animate-duration:1000ms; --animate-delay:600ms;">
                <p>A passionate Front-End Software Developer who takes pride in being a "User Story Teller." </p>
                    <!-- Professionally connected with the web development industry.</p> -->
                <div>- Imagine the web as a canvas, and each line of code as a brushstroke, weaving narratives that captivate and engage users.</div>
                <div>-  I don't just build web apps; I craft experiences that leave an indelible mark on the user's journey. It's about understanding the narrative behind each click, each interaction, and infusing the digital realm with the art of storytelling.</div>
            <!-- <div>Fan of Boxing, outdoor activities, video games, and coding of course.</div> -->
            <!-- <p>Interested in the entire frontend spectrum and working on ambitious projects with interesting people.</p> -->
            </div>
            <!-- <img class="t" width="400" src="/src/assets/images/t.png" alt="Todor Dimov"> -->

    </div
    ></div>
            
            <div class="about_decor">
           
</div>
</div>
</div>
        </div>
    </div>
</div>