<div id="fullpage" class="fullpage-wrapper" style="height: 100%; position: relative; touch-action: none; transform: translate3d(0px, 0px, 0px);">
    <div class="fullpage">
        <div>
        <div class="section fp-section fp-table active fp-completely" data-fp-styles="null" data-anchor="contact" style="height: 826px;">
            <div class="fp-tableCell" style="height: 826px;">
                <div class="innerin">
                    <div class="contact_section">
                        <img class="white_cube1 animate__animated animate__slideInUp animate__delay-1s " src="./white_cube1.png" alt="">
                        <div class="contact_cont animate__animated animate__slideInUp animate__delay-1s">
                            <div class="cont_cont_wrap">
                                <div>Join me in this adventure where pixels become characters, <br>code transforms into plot twists,
                                     and the user is at the center of a story that unfolds with every click. <br>
                                     Together, let's redefine the digital narrative and create experiences that linger in the minds and hearts of users.</div>
                                <!-- <p>What would you do if you had a software expert available at your fingertips?</p>
                                <div>Want to start new project? Or just say hey.</div> -->
                                <div>You can also follow me on <a target="_blank" rel="noopener noreferrer" class="insta" href="https://www.instagram.com/shivani.1108/">Instagram</a>.
                                    <h1><a target="_blank" rel="noopener noreferrer" href="mailto:shivaniupadhye35@gmail.com">shivaniupadhye35@gmail.com</a></h1>
                                </div>
                            </div>
                        </div>
                        <div class="mobile_globe">
                            <div style="height: 100%; width: 100%;">
                                <canvas tabindex="0" style="touch-action: none; cursor: inherit; width: 0px; height: 0px;" width="0" height="0">
                                </canvas>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
</div>
        </div>
        </div>
    </div>
</div>



