<div id="fullpage" class="fullpage-wrapper" style="height: 100%; position: relative; touch-action: none; transform: translate3d(0px, 0px, 0px);">
    <div class="fullpage">
        <div>
            <div class="section fp-section active fp-table fp-completely" data-fp-styles="null" data-anchor="home" style="height: 673px;">
                <div class="fp-tableCell" style="height: 673px;">
                    <div class="innerin">
                        <div class="hero">
                            <img class="dots_decor" src="/side-dots.png" alt="">
                            <div class="hero_cont animate__animated animate__fadeIn " style="--animate-duration:1000ms; --animate-delay:400ms;">
                                <h1 class="font-60 fontTitle">
                                    <div>
                                        <span>F</span><span>r</span><span>o</span><span>n</span><span>t</span><span>-</span><span>E</span><span>n</span><span>d</span>
                                    </div>
                                    <div>
                                        <span>S</span><span>o</span><span>f</span><span>t</span><span>w</span><span>a</span><span>r</span><span>e</span></div><div><span>D</span><span>e</span><span>v</span><span>e</span><span>l</span><span>o</span><span>p</span><span>e</span><span>r</span>
                                    </div>
                                </h1>
                                <p class="hero_blurb">
                                    Bringing websites to life by weaving engaging user stories into every line of code with a touch of artistic finesse.
                                    <!-- Resolving design problems, building smart user interfaces and useful interactions, developing rich web applications and seamless web experiences. -->
                                </p>
                                <a class="text_white" href="#about" routerLink="/about">
                                    About me
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                                        <path d="M0 0h24v24H0V0z" fill="none">

                                        </path>
                                        <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z" fill="#9C27B0">

                                        </path>
                                    </svg>
                                </a>
                            </div>

                            <div class="hero_graphic animate__animated  animate__fadeIn animate__slideInDown animate__delay-1s" style="--animate-duration:1000ms; --animate-delay:200ms;">
                                <div class="computer_graphic">
                                    <img src="https://images.unsplash.com/photo-1510519138101-570d1dca3d66?q=80&w=1447&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>