.fullpage {
  background-color: #141416;
  color: aliceblue;
  position: relative;
  overflow: hidden;
  @media(min-width: 992px) {
    overflow: visible;
  }

 .fp-section {
   @media(max-width: 992px) {
    height: auto!important;

    .fp-slide {
      min-height: 100vh;
    }
   }
  .fp-tableCell {
    @media(max-width: 992px) {
      height: auto!important;
      padding: 50px 0;
    }
  }
 }

  .hero_decor {
    position: absolute;
    left: -650px;
    bottom: -450px;
    opacity: .4;
    transform: rotate(180deg);
    filter: blur(6px);
    @media(min-width: 768px) {
      left: -550px;
      opacity: .7;
    }
  }

  .about_decor {
    position: absolute;
    right: -650px;
    bottom: -450px;
    opacity: .4;
    filter: blur(6px);
    @media(min-width: 768px) {
      opacity: .7;
      right: -550px;
    }
  }

  .skills_decor {
    position: absolute;
    left: -650px;
    bottom: -450px;
    opacity: .4;
    transform: rotate(180deg);
    filter: blur(6px);
    @media(min-width: 768px) {
      left: -550px;
      opacity: .7;
    }
  }

  .contact_decor {
    position: absolute;
    right: -650px;
    top: -400px;
    opacity: .4;
    filter: blur(6px);
    @media(min-width: 768px) {
      opacity: .7;
      right: -550px;
    }
  }

  .contact_decor_bottom {
    position: absolute;
    left: -650px;
    bottom: -450px;
    opacity: .4;
    transform: rotate(180deg);
    filter: blur(6px);
    @media(min-width: 768px) {
      left: -550px;
      opacity: .7;
    }
  }

  .innerin {
    width: 1440px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    z-index: 101;
  }
}

.fp-slidesNav.fp-bottom {
  @media(min-width: 992px) {
    bottom: 50px!important;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      a {
        &.active {
          span {
            width: 14px;
            height: 14px;
          }
        }
        span {
          background-color: #444;
          width: 6px;
          height: 6px;
          
        }
      }
    }
  }
}

// FLOATING ANIMATION USE LIKE THIS 
// animation: float 4s ease-in-out infinite;
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.fontTitle{
  width: 800px;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  position: relative;

  @media(min-width: 768px) {
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .purple_romb1 {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: -350px;
    margin: 0 auto;
    max-width: 200px;
    opacity: .7;
    display: none;
    
    @media(min-width: 768px) {
      display: block;
    }
  }

  .dots_decor {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -10%;
    transform: rotate(90deg)
  }

  .hero_cont {
    max-width: 500px;
    padding: 2rem;

    @media(min-width: 768px) {
      width: 50%;
      max-width: 550px;
      margin: 0;
    }

    h1 {
      margin: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 39px;
      line-height: 28px;
      font-weight: bold;

      @media(min-width: 1140px) {
        font-size: 60px;
        line-height: 50px;
      }

      div {
        display: inline;
        margin: 15px 0 0;

        @media(min-width: 350px) {
          margin: 0 15px 15px 0;
        }

        @media(min-width: 768px) {
          margin: 0 15px 0 0!important;
        }
        
        span {
          display: inline-block;
          transition: all .3s ease-out;
          
          &:hover {
            color: #F4A949;
            animation: rubberBand;
            animation-duration: 1s;
          }
        }
      }
    }

    

    .hero_blurb {
      margin: 0;
      padding: 1.5rem 0;
      // display: none;
      // @media(min-width: 768px) {
      //   display: block;
      //   padding: 2rem 0;
      // }
      // @media(min-width: 1200px) {
      //   padding-right: 7rem;
      // }
    }

    a {
      text-decoration: none;
      font-weight: 600;
      display: flex;
      align-items: center;
      color: #9C27B0;

      svg {
        margin-left: 5px;
        transition: transform .3s ease-out;
        transform: rotate(-90deg)
      }

      &:hover {
        svg {
          transform: rotate(0deg)
        }
      }
    }
  }

  .hero_graphic {
    margin: 4rem auto 2rem;
    @media(min-width: 768px) {
      margin: 2rem auto 0;
      width: 50%;
    }

    @media(min-width: 992px) {
      padding: 0 100px 0 0;
    }
    
    img {
      width: 600px;
    }
  }
}